.news-slider {
	// width: 100%;
	height: 110px;
	overflow: hidden;
	@include white-shadow;
	button {
		position: absolute;
		background: rgba($gray,0.6);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		// line-height: 40px;
		color: $white;
		top: calc(50% - 20px);
		padding: 0;
		z-index: 20;

		&.prev {
			left: 0;
		}
		&.next {
			right: 0;
		}
	}
}
.sliders-stage {
	position: absolute;
	width: 100%;
	height: 100%;

	.news-list {
		width: 100%;
		height: 100%;
		position: absolute;
		padding: 10px;
		a {
			display: block;
			position: relative;
		}
		.news-img {
			display: inline-block;
			float: left;
			margin: 3px 5px 3px 3px;
			max-width: 45%;
			height: 80px;
			max-height: 80px;
			overflow: hidden;
			border: 1px solid $gray-light;
			border-radius: 3px;

			img {
				max-width: 100%;
			}

		}
		.news-info {
			// display: inline-block;
			// float: left;
   //    width: 50%;
			width: calc(100% - 80px);
      margin: 0 auto;
      display: block;
			text-align: justify;
			color: $gray-darker;
			h5 {
				margin: 3px 0;
				height: 60px;
				overflow: hidden;
        font-size: 1rem;
			}
			small {
				display: block;
				height: 18px;
				line-height: 18px;
				overflow: hidden;
				color: $gray;

			}
		}
	}
}
.full-width {
	position: relative;
	margin: 0 -10px 10px !important;
}

// TABS
.tabs-btn-list.columns {
	.tabs-btn {
		background: $white;
		font-size: 13px;
		padding: 15px 0;
		color: $gray;
		&.active {
			color: $orange;
			border-bottom: 2px solid $orange;
		}
	}
}
.tabs {
	.tabBox {
		// overflow: hidden;
		display: none;
		margin: 0 0 10px;
		background: none;
		animation: opac 0.8s;
		h1,h2,h3 {
			margin:0;
			padding: 0px 0 10px;
	    font-size: 13px;
	    font-weight: bold;
		}

		.list-item {
			padding: 2px;
			position: relative;
			a {
				display: block;
				color: $gray-darker;
				@include white-shadow;
				padding: 5px;
				font-size: 12px;
			}
			.product-img {
				display: flex;
				height: 100px;
				overflow: hidden;
				text-align: center;
				@include flex-center
			}
			img {
				max-width: 100%;
				max-height: 100%;
				// max-width: 95px;
			}
			.product-name {
				margin: 0 0 3px;
				font-size: 12px;
				line-height: 16px;
				height: 32px;
				@include mul-box
			}
			small {
				font-size: 11px;
				font-style: italic;
			    text-decoration: line-through;
			    display: block;
			    color: $gray;
			}
			strong {
				font-weight: normal;
			}
		}
		.tab-content-list {
			margin: 0;
		}
	}
	.new-product {
		margin: 2px 1px;
		padding: 10px;
		border-radius: 2px 2px 0 0;
		@include white_shadow
	}
	.all-proudct-btn {
		display: block;
		color: $blue;
		font-size: 15px;
		margin: 2px 1px;
		padding: 10px;
		border-radius: 0 0 2px 2px;
		text-align: center;
		@include white_shadow
		i {
			vertical-align: middle;
		}
	}
}
.hotsort-list {
	position: relative;
	
	ul.columns {
		margin: 0;
		li.list-item {
			a {
				// padding: 15px;
				text-align: center;
				font-weight: bold;
				box-sizing: border-box;
				height: 65px;
				display: flex;
		    align-items: center;
		    justify-content: center;

			}
		}
	}
	.more-link {
		position: absolute;
		top: 0;
		right: 0;
		color: $gray;
		font-size: 13px;
		i {
			background: $gray;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			color: $white;
		    box-sizing: border-box;
		    display: inline-block;
		    padding: 1px;
		    vertical-align: bottom;
		    margin-left: 3px;
			&:before {
				display: inline-block;
				transform:scale(0.7);
				transform-origin: center;
			}
		}
	}
}

.service-list.columns {
	margin: 0;
	padding: 5px;
	a {
		display: block;
		padding: 2px;
		color: $gray-dark;
		span {
		    font-size: 0.7rem;
		    text-align: center;
		    justify-content: center;
		    align-items: center;
		    display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    width: 100%;
		    height: 100%;
		    box-sizing: border-box;
		    padding: 3px;
		    @include white-shadow;
		    &:before {
    	    text-align: center;
			    margin: 2px auto;
			    display: block;
			    font-size: 18px;
			    color: $gray;
		    }
		}
	}
}

//tabs animation
//
// @keyframes opac {
//   from {
//       opacity: 0
//   }

//   to {
//       opacity: 1
//   }
// }

.title-text {
	// @include white_shadow
	font-weight: normal;
	padding: 10px;
	font-size: 15px;
	color: $gray-darker;
	border-bottom: 1px solid $gray-light;
	h1,h2 {
		display: inline;
		margin: 0;
		font-size: inherit;
		font-weight: normal;
	}
}
.keyword-group {
  margin-top: 10px;
  margin-bottom: 10px;
  ul.columns {
    padding: 8px;
    margin-bottom: 5px;
  }
  li {
    padding: 5px;
    margin: 5px 0;
    .box {
      padding: 5px;
      display: flex;
      min-height: 100%;
      @include flex-center;
      a {
        color: $gray;
        font-weight: normal;
        font-size: 0.8rem;
        text-align: center;
        @include mul-box;
      }
    }
  }
}

