.nofound-content {
	margin: 0 auto;
	text-align: center;
	padding-top: 110px;

	img {
		padding: 20px 0;
	}

	.nofound-text {
		display: block;
		margin-bottom: 15px;
		font-size: 20px;
		color: $gray;
		strong {
			color: $orange;
			font-size: 20px;
			padding-right: 5px;
		}
	}

	a {
		margin-left: 5px;
		text-decoration: none;
		padding: 5px;
		border: 1px solid $gray;
		color: $gray-dark;
		background: $white;
		border-radius: 3px;
		&:before {
			padding-right: 3px;
		}
	}

}