.footer {
	border-top: 1px solid $gray-light;
	background: $white;
	text-align: center;
	padding: 10px;

	ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
    	display: inline-flex;

    	a {
    		display: block;
			  text-decoration: none;
			  border-right: 1px solid $gray;
			  color: $gray;
			  font-size: 13px;
			  padding: 0 0.75rem 0 0.3rem;
			}

			&:last-child a {
				border: none;
			}
    }
	}

	.copyright {
		display: inline-block;
	  font-size: 13px;
	  margin: 10px 0 0 0;
	  color: $gray;
	}
}