.header {
	// position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	// background: $orange;
    // width: 100vw;
    background-color: $gray-light;
    // color: $white;
    .site-logo {
    	background: url(../img/logo.svg)no-repeat center;
    	text-indent: -10000px;
    	overflow: hidden;
    	width: 125px;
    	height: 34px;
    	margin: 0 auto;
    	padding: 5px 0;
    }
    .head-content {
    	// padding-bottom: 10px;
    }
	
}

.nav-toggle {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
    background: none;
    border: 0;
    top: 0;
    left: 0;
    color: $orange;
    padding: 0;

	&:before {
		text-align: center;
		margin: 0 auto;
		font-size: 1.6rem;
		line-height: 50px;
	}
}

.input-search {
	margin: 0 10px;
	padding: 10px 0;
	color: $black;

	form {
		position: relative;

	}
    
    input {
	    box-sizing: border-box;
    	width: 100%;
    	height: 36px;    	
    	padding: 8px;
	    border-radius: 2px;
	    border: 1px solid #E2E2E2;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		position: relative;
		color: $gray-darker;
		transition: all ease-in-out 0.3s;

		&::placeholder {
			color: #9b9b9b;
		}

		&:focus {
			outline: 0;
			border-color: $orange;
		}

    }
    .search-submit {
    	background: $orange;
    	width: 40px;
    	height: 36px;
    	border-radius: 0 2px 2px 0;
    	position: absolute;
    	top: 0;
    	right: 0;
    	border: none;
    	border-sizing:border-box;
    	padding: 0;

    	&:before {
    		color: $white;
		    font-size: 1.6rem;
		    line-height: 36px;

    	}
    }
}

.search-input-content, ul.search-section {
	position: fixed;
	z-index: 1000;
	top: 50px;
	width: 100%;
	// margin: 0 -50px;
    padding: 0px;
    list-style: none;
    background: $white;

    li {
    	a {
    		// display: block;
    		// padding: 0.6rem 0.9rem;
    		// border-bottom: 1px solid $gray-light;
    		// color: $gray-darker;
    		// font-size: 13px;
    	}
    }
}

.search-input-content {
	background: #eee;

    ul.tab-bar {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 0;

    	li {
    		background: $white;
    		box-sizing: border-box;
    		min-width: 120px;

    		a {
    			display: block;
    			// min-width: 90px;
    			padding: 8px 20%;
    			text-align: center;
    			border: 1px solid $gray;
    		}

    		&.left {
    			border-radius: 4px 0 0 4px;
    		}

    		&.left >a {
    			border-radius: 4px 0 0 4px;
    		}

    		&.right >a {
    			border-radius: 0 4px 4px 0;
    		}

    		&.right {
    			border-radius: 0 4px 4px 0;
    		}

    		&.active {

    			a {
    				color: $white;
    				background: $gray;
    			}

    		}
    	}
    }

    .tab-content.last-search {
    	> ul {
			> li:not(:last-child) {
				position: relative;
				overflow: hidden;
				
				button {
					border: none;
				    background: none;
				    position: absolute;
				    right: 0;
				    top: 0;
				    padding: 0.6rem 0.9rem;
				    &:before {
				    	color: $gray;
					    font-size: 18px;
					    opacity: 0.6;
				    }
				}
			}
			> li.delete-all {
				a {
					text-align: right;
					color: $gray;
				}
			}
    	}
    }

    .tab-content.hot-search {
		span {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: $gray;
			color: $white;
			display: inline-block;
			text-align: center;
			margin-right: 3px;
			margin-bottom: 2px;
			vertical-align: middle;
			line-height: 24px;
		}
    }
}

.tab-content {
	background: $white;
}

ul.search-section {
	li.history-title {

		a {
			&:before {
				font-size: 1.3333333em;
				vertical-align: -20%;
				padding-right: 5px;
			}
		}
	}
	li.search-insert {
		position: relative;
		button {
			position: absolute;
			top: 0;
			right: 0;
		    font-size: 15px;
		    color: $gray;
		    opacity: 0.5;
		    // float: right;
		    background: none;
		    width: 40px;
		    height: 40px;
		}
	}
}

body.sticky {
	 > .header {
		.head-content > .input-search {
			position: fixed;
			box-shadow: 0 2px 2px rgba($orange,0.3);
			background: $gray-lighter;
			top: 0;
			left: 0;
			z-index: 1188;
			width: 100vw;
			margin: 0;
			padding: 7px 10px;
		}
	 }
	&.up {
		.header {
			position: fixed !important;
			top: 0;
			left: 0;
			// box-shadow: 0 2px 2px rgba(0,0,0,0.2);
		}
		
		.head-content > .input-search {
			position: static;
			box-shadow: none;
			background: none;
			width: auto;
		}
		.search-filter {
			position: fixed !important;
			max-width: 640px;
			margin: 0 auto !important;
			top: 94px;
			left: 0;
			right: 0;
		    z-index: 1000;
		}
	}
}

