.header {
	// position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	// background: $orange;
    // width: 100vw;
    background-color: $gray-light;
    position: fixed;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    // color: $white;
    .site-logo {
    	background: url(../images/logo.svg)no-repeat center;
    	text-indent: -10000px;
    	overflow: hidden;
    	width: 125px;
    	height: 34px;
    	margin: 0 auto;
    	padding: 5px 0;
    	a {
    		display: block;
    	}
    }
    .head-content {
    	// padding-bottom: 10px;
    }
	
}

.nav-toggle {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
    background: none;
    border: 0;
    top: 0;
    left: 0;
    color: $orange;
    padding: 0;

	&:before {
		text-align: center;
		margin: 0 auto;
		font-size: 1.6rem;
		line-height: 50px;
	}
}

.input-search {
	position: relative;
    display: -webkit-box;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
	margin: 10px;
	// padding: 10px 0;
	color: $black;
	overflow: hidden;

	.select-area {
		background: $gray-lighter;
		position: relative;
		color: $orange;
		// z-index: 2;
		border: 1px solid #E2E2E2;
		padding: 0 0 0 5px;
		flex-grow: 0;
		width: 65px;
		height: 36px;
		flex: none;
		i {
	        position: absolute;
	        top: 9px;
	        right: 5px;
	        font-size: 0.9rem;
	        // color: $gray;
	        // font-size: 1rem;
	        &:before {
        	    vertical-align: bottom;
	        }
	    }
	}
	.select-box {
	    background: none;
	    height: 100%;
	    border: none;
	    padding: 2px 24px 2px 3px;
	    // font-size: 14px;
	    -webkit-appearance: none;
	    position: relative;
	    z-index: 2;
	    &:focus  {
	        outline: none;
	    }
	    &:focus .icon {
	    	color: white;
	    }
	}

	form {
		position: relative;
		flex-grow: 2;
	}
    
    input {
	    box-sizing: border-box;
    	width: 100%;
    	height: 36px;    	
    	padding: 8px 46px 8px 8px;
	    border-radius: 0 2px 2px 0;
	    border: 0;
		position: relative;
		color: $gray-darker;
		transition: border ease-in-out 0.3s;
		border: 1px solid #E2E2E2;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-appearance: none;

		&::placeholder {
			color: #9b9b9b;
		}

		&:focus {
			outline: 0;
			// border-color: $orange;
			
		}

    }
    .search-submit {
    	background: $orange;
    	width: 40px;
    	height: 36px;
    	border-radius: 0 2px 2px 0;
    	position: absolute;
    	top: 0;
    	right: 0;
    	border: none;
    	border-sizing:border-box;
    	padding: 0;

    	&:before {
    		color: $white;
		    font-size: 1.6rem;
		    line-height: 36px;

    	}
    }
}

.search-input-content, ul.search-section {
	position: fixed;
	z-index: 1000;
	top: 50px;
	width: 100%;
	// margin: 0 -50px;
    padding: 0px;
    list-style: none;
    background: $white;

    li {
    	a {
    		// display: block;
    		// padding: 0.6rem 0.9rem;
    		// border-bottom: 1px solid $gray-light;
    		// color: $gray-darker;
    		// font-size: 13px;
    	}
    }
}

.search-input-content {
	background: #eee;

    ul.tab-bar {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 0;

    	li {
    		background: $white;
    		box-sizing: border-box;
    		min-width: 120px;

    		a {
    			display: block;
    			// min-width: 90px;
    			padding: 8px 20%;
    			text-align: center;
    			border: 1px solid $gray;
    		}

    		&.left {
    			border-radius: 4px 0 0 4px;
    		}

    		&.left >a {
    			border-radius: 4px 0 0 4px;
    		}

    		&.right >a {
    			border-radius: 0 4px 4px 0;
    		}

    		&.right {
    			border-radius: 0 4px 4px 0;
    		}

    		&.active {

    			a {
    				color: $white;
    				background: $gray;
    			}

    		}
    	}
    }

    .tab-content.last-search {
    	> ul {
			> li:not(:last-child) {
				position: relative;
				overflow: hidden;
				
				button {
					border: none;
				    background: none;
				    position: absolute;
				    right: 0;
				    top: 0;
				    padding: 0.6rem 0.9rem;
				    &:before {
				    	color: $gray;
					    font-size: 18px;
					    opacity: 0.6;
				    }
				}
			}
			> li.delete-all {
				a {
					text-align: right;
					color: $gray;
				}
			}
    	}
    }

    .tab-content.hot-search {
		span {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: $gray;
			color: $white;
			display: inline-block;
			text-align: center;
			margin-right: 3px;
			margin-bottom: 2px;
			vertical-align: middle;
			line-height: 24px;
		}
    }
}

.tab-content {
	background: $white;
}

ul.search-section {
	li.history-title {

		a {
			&:before {
				font-size: 1.3333333em;
				vertical-align: -20%;
				padding-right: 5px;
			}
		}
	}
	li.search-insert {
		position: relative;
		button {
			position: absolute;
			top: 0;
			right: 0;
		    font-size: 15px;
		    color: $gray;
		    opacity: 0.5;
		    // float: right;
		    background: none;
		    width: 40px;
		    height: 40px;
		}
	}
}

body.sticky {
	 > .header {
	 	transform: translateY(-45px);
	 	background-color: $gray-lighter;
	 	box-shadow: 0 2px 2px rgba($orange,0.3);
		// .head-content > .input-search {
		// 	position: fixed;
		// 	box-shadow: 0 2px 2px rgba($orange,0.3);
		// 	background: $gray-lighter;
		// 	top: 0;
		// 	left: 0;
		// 	z-index: 1188;
		// 	width: 100vw;
		// 	margin: 0;
		// 	padding: 7px 10px;
		// 	 }
	 }
	 .search-filter {
	 	top: 0;
	 }
	 .search-modal {
	 	margin-top: 45px;
	 }

	&.up {
		.header {
			// position: fixed !important;
			// top: 0;
			// left: 0;
			// box-shadow: 0 2px 2px rgba(0,0,0,0.2);
			box-shadow: none;
			// transform: translateY(0);
			// box-shadow:none;
		}
		
		// .head-content > .input-search {
		// 	position: static;
		// 	box-shadow: none;
		// 	background: none;
		// 	width: auto;
		// }
		// 
		.search-filter {
			// position: fixed !important;
			// max-width: $tablet-width + 20px;
			// margin: 0 auto !important;
			top: 55px;
			// left: 0;
			// right: 0;
		 //    z-index: 990;
		}
	}
}
.section {
	padding-top: 110px;
}

