.header {
	nav.nav {
		width: 100%;
		height: 100vh;
		position: fixed;
		z-index: 1300;
		top: 0;
    left: 0;
    right: 0;
    bottom: 0;
		transform: translateX(-100%);
		transition: 0.5s all ease-in-out;
    overflow: hidden;
    a {
      display: block;
      padding: 0.9rem 1rem;
      color: $white;
      border-bottom: 1px solid $gray-darker;
    }
		.nav-menu {	
			width: 265px;
			height:100vh;
			background: $black;
      overflow-y: scroll;

			.nav-buttons {
        // margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $gray-darker;
				a {
					display: block;
			    padding: 0.6rem 2rem;
			    border: 1px solid $gray;
			    background: $black;
			    margin: 1rem 0.25rem 0 1.15rem;
			    border-radius: 5px;
			    color: $white;
			    float: left;
				}
			}
      >.nav-items {
        &:last-child {
          margin-bottom: 100px;
        }
      }

			.active {
				box-sizing:border-box;
				border-left: 4px solid $orange;
			}
		}

	}
	.nav.open {
		transform: translateX(0px);
		background: rgba(0, 0, 0, 0.6);
		.nav-menu {
			// transform: translateX(0px);

			&:before {
			    content: "✕";
			    color: white;
			    position: absolute;
			    left: 265px;
			    // width: 50px;
			    // height: 50px
			    padding: 1rem;
			    background: $orange;
			    text-align: center;
			    // line-height: 50.78px;
			    border-radius: 0px 0px 10px 0px;
			}
		}
	}
}
.overlay-bg {
	display: none;
    z-index: 998;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    background: rgba(0,0,0,0.5);

    &.open {
    	display: block;
    }
}

.close-bg {
	width: calc(100% - 265px);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	
}
.nav-dropdown-items {
  display: none;
}
.nav-dropdown {
  position: relative;
  i.icon-chevron-down {
    display: inline-block;
    width: 20px;
    margin: 0 0.5rem 0 0;
    float: right;
    transition: 0.2s all ease-out;
  }
  &.open {
    background: darken($black,5%);
    .nav-link {
      i {
        transform: rotate(180deg);
      }
    }
    .nav-dropdown-items {
      display: block;
      a {
        padding-left: 15px !important;
      }
    }
  }
}
.body-fixed {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
